/* CreateEventForm.css */

.create-event-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;


  }

  .create-event-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 20px;
    border-bottom: 2px solid #c5c5c5 ;
  }

.create-event-input{
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}


  input[type="number"],
  select,
  textarea {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

  select {
    height: 40px;
  }

  textarea {
    height: 150px;
  }

  button[type="submit"] {
    background-color: #c92e2b;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 20px 0px;
  }

  button[type="submit"]:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
  }

  /* Add any additional styling as needed */

  /* Media query for responsiveness (adjust as needed) */
  @media (max-width: 768px) {
    .create-event-form {
      max-width: 100%;
    }
  }
