/* Navigation.css */

/* Navbar styles */
.navbar {
    display: flex;
    align-items: center;
    padding: 25px 0px;
    border-bottom: #a8a8a8 2px solid;
    display: flex;
    justify-content: space-around;
  }

  .navbar-logo a {
    text-decoration: none;
    color: #dc4343;
    font-size: 28px;
    font-weight: bold;
  }

  .navbar-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .navbar-nav li {
    margin-right: 20px;
  }

  .navbar-nav a {
    text-decoration: none;
    color: #474747;
    font-size: 16px;
    align-items: center;
  }
.navbar-auth{
  display: flex;
  flex-direction: row;
  align-items: center;
}
  .navbar-auth button {
    background-color: #fff;
    color: #464646;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
  }


  .navbar-auth a.teal-button {
    background-color: teal;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
  }

  .navbar-auth a {
    text-decoration: none;
    color: teal;
    font-size: 16px;
    margin-left: 10px;
  }

  .navbar-nav a.active {
    text-decoration: underline;
    font-weight: bold;
  }

  .profile-dropdown-absolute {
    position: absolute;
    padding: 20px;
    top: 100%;
    background-color: white;
    border: 1px solid #ccc;

  }
